<h2> {{title}} </h2>
<div class="container">
  <label>First value </label>
<input type="number" [(ngModel)]='first'  />
<br>
<label>Second value </label>
<input type="number" [(ngModel)]='second' />
<br>
<label>Action </label>
<input type="text" readonly [(ngModel)]='action'/>
<br>
<label>Result </label>
<input type="number" [(ngModel)]='result' /> 
</div>

<button (click)="onClickMe('+')" style="width:50px; height: 40px ;">+</button>

<button (click)="onClickMe('-')" style="width:50px; height: 40px ;">-</button>
<button (click)="onClickMe('*')" style="width:50px; height: 40px ;">*</button>
<button (click)="onClickMe('/')" style="width:50px; height: 40px ;">/</button>
<button (click)="onClickMe('clear')" style="width:50px; height: 40px ;">Clear</button>
<router-outlet></router-outlet>